.accounts-body{color:#fff;font-family:'Titillium Web', sans-serif;background:#fff;background: linear-gradient(to right, #dce35b, #45b649);}

.acc-btn-style-1{padding:15px 45px;font-size:20px;border-radius:5px;background:#45b649;color:white;font-weight:bold;text-transform:uppercase;margin-bottom:40px;
display:block;max-width:300px;transition:all 0.3s;}
.acc-btn-style-1:hover{transform:scale(1.1);}

.acc-btn-style-2{padding:15px 45px;font-size:20px;border-radius:5px;background:#fff;color:black;font-weight:bold;text-transform:uppercase;margin-bottom:40px;
display:block;max-width:300px;}

.acc-p-style-1{font-size:22px;font-weight:bold;margin-bottom:40px;}

.info-span-a{border-radius:5px;padding:20px;background:#fff;max-width:220px;color:black;display:inline-block;margin-right:10px;font-size:16px;margin-bottom:10px;}
.info-span-a .fas{color:#45b649;font-size:20px;margin-right:5px;position:relative;top:1px;}

.accounts-modal-1{padding:20px;border-radius:10px;background:white;max-width:480px;margin-bottom:20px;}
.accounts-modal-1 p{font-size:18px;color:#333;}

.accounts-status-text{font-weight:bold;margin:25px 0 0 0;}
.accounts-status-text.good{color:#0f0;}
.accounts-status-text.bad{color:#f00;}
.accounts-status-text.center{text-align:center;}

.input-requirement{color:#999;font-size:14px;text-align:left;}

#accounts-con{width:100%;color:#000;}
#accounts-con form{}
#accounts-con .form-btn{background:#fff;transition:all 0.2s;padding:15px;border-radius:50px;color:black;width:150px;margin:30px auto 30px auto;display:block;border:2px solid black;outline:none;font-size:14px;text-transform:uppercase;font-weight:bold;}
#accounts-con .form-btn:hover{background:#000;color:white;}
#accounts-con .input-field{padding:5px;}
#accounts-con .input-field:-internal-autofill-selected {background:white;}

#accounts-con .input-field input[type='text'],#accounts-con .input-field input[type='password']{width:100%;padding:5px 0px 5px 0px;outline:none;border:none;border-bottom:2px solid gray;font-family: 'Roboto', sans-serif;font-size:16px;font-weight:500;
font-family:'Titillium Web', sans-serif;transition:all 0.4s;}
#accounts-con .input-field input[type='text'],#accounts-con .input-field input[type='password']:focus{border-color:black;}
#accounts-con .input-field label{font-size:16px;text-align:left;width:100%;display:block;font-weight:bold;color:#333;}
#accounts-con .jumbo-caption-medium{color:#333;font-family:'Montserrat',sans-serif;letter-spacing:1px;}


#login{margin-bottom:50px;padding:20px;}
#login-form{background:white;border-radius:10px;max-width:480px;margin:0 auto;padding:10px 40px;padding-bottom:30px;}
#login .input-field:not(:last-of-type){margin:20px 0px;}


#signup{margin-bottom:50px;padding:20px;}
#signup-form{background:white;border-radius:10px;max-width:520px;margin:0 auto;padding:10px 40px;padding-bottom:30px;}
#signup-form .input-field label{font-size:16px;text-align:left;width:100%;display:block;font-weight:bold;color:#333;}
#signup-form .input-field select{width:100%;padding:5px 0;border:none;font-size:16px;font-family:'Titillium Web', sans-serif;outline:none;border-bottom:2px solid gray;color:gray;}
#signup-form .input-field input[type='checkbox']{margin-right:10px;transform:scale(1.4);position:relative;top:1px;}
#signup-form .input-field{margin:10px 0px;}


#acc-activate{padding:20px;margin-bottom:100px;}
#acc-activate .content{padding:20px;border-radius:10px;background:#fff;max-width:1000px;margin:0 auto;}
#acc-activate .title{color:#333;font-family:'Montserrat',sans-serif;}


#profile-management{position:relative;padding:100px 20px;background:url(images/backgrounds/bg-default.jpg);background-size:cover;}
#profile-management .label{font-size:18px;}
#profile-management .section:not(first-of-type){margin-bottom:30px;}
#profile-management .inner{position:relative;padding:20px 40px;color:#fff;max-width:1000px;margin:50px auto;background:#0d0d0d;border-radius:10px;
box-shadow:0px 0px 20px -5px rgba(0,0,0,0.25);}
#profile-management .content{padding-top:10px;padding-bottom:20px;}
#profile-management h1{font-family: 'Montserrat',sans-serif;}

#user-pp{position:relative;width:250px;height:250px;background:transparent;border-radius:10px;}
#user-pp img{position:relative;max-width:100%;height:100%;display:block;border-radius:10px;}

#profile-management .title{margin:30px 0;}
#profile-management .stat-group{margin:30px 0;max-width:340px;}
#profile-management .if-editable{position:relative;border-radius:10px;background:#fff;color:#000;padding:20px 20px;min-width:300px;margin-bottom:10px;}
#profile-management .if-editable.if-editable-textarea{padding:20px;}
#profile-management .if-editable.round{border-radius:100px;}
#profile-management .if-editable.round > .span-edit{border-radius:100%;}
#profile-management .if-editable .stat-name{position:relative;display:inline-block;text-align:left;color:#45b649;font-weight:bold;}
#profile-management .if-editable .stat-name.fixed-width{width:55px;padding-right:10px;margin-right:10px;border-right:2px solid gray;}
#profile-management .if-editable .stat-name .icon{padding-right:10px;}
#profile-management .if-editable:hover>.span-edit{background:rgba(0,0,0,0.1);}
#profile-management .if-editable .span-edit{position:absolute;right:10px;background:rgba(0,0,0,0.070);top:10px;cursor:pointer;color:#333;font-size:18px;padding:8px;border-radius:10px;width:40px;height:40px;}
#profile-management .if-editable .span-edit .fas{position:relative;left:3px;top:1px;color:#45b649;}
#profile-management .if-editable .span-edit.active{background:rgba(0,255,0,0.150);}
#profile-management .if-editable .span-edit.active:hover{background:rgba(0,255,0,0.200);}
#profile-management .if-editable .span-edit:hover{cursor:pointer;background:rgba(0,0,0,0.1);}
#profile-management .if-editable .if-edit-s1{font-family:'Lato',sans-serif;font-size:16px;color:black;margin:0 0;outline:0;border:0;background:transparent;}
#user-desc{width:100%;font-size:16px;overflow-x:hidden;min-height:30px;height:200px;margin:0;color:black;background:transparent;font-family:'Lato',sans-serif;padding:0;border-radius:0;}
.user-pp-edit{position:absolute;bottom:12px;left:10px;}
.user-pp-edit .edit{width:50px;height:50px;background:rgba(0,0,0,0.2);color:white;margin-right:5px;border-radius:5px;font-weight:400;font-size:18px;outline:none;border:none;font-family:'Titillium Web', sans-serif;cursor:pointer;}
.user-pp-edit .edit:hover{background:rgba(0,0,0,0.3);}

#profile-picture{position:relative;}
#user-new-pp-i{visibility:hidden;height:1px;width:1px;}

#profile-description{border-radius:10px;background:white;color:black;}


@media all and (max-width:550px)
{
    #login-form, #signup-form{padding:20px 30px;}
    #profile-management .inner{text-align:center;padding:20px;}
    #profile-management .stat-group {max-width:100%;text-align:left;}
}