@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');

@font-face {font-family: nemo;src: url(fonts/findet-nemo.ttf);}
@font-face {font-family: bookman;src: url(fonts/bookman-os.ttf);}

html{margin:0;padding:0;}
body{overflow-x:hidden;-webkit-font-smoothing:antialiased;}

*{box-sizing:border-box;}
a{text-decoration:none;color:unset;}
p{font-size:16px;line-height:140%;}

h1{font-size:50px;}
h2{font-size:42px;}
h3{font-size:34px;}
h4{font-size:28px;}
h5{font-size:22px;}
h6{font-size:18px;}

.col-12{width:50%;}
.col-13{width:33.33%;}
.col-23{width:66.66%;}
.col-14{width:25%;}
.col-34{width:75%;}
.col-25{width:40%;}
.col-35{width:60%;}
.col::after{display:table;clear:both;content:'';}
._left{float:left;}
._right{float:right;}

.logo-text{position:relative;}
.logo-text.medium{max-width:300px;height:auto;}
.logo-text.large{max-width:500px;height:auto;}

.page-margin-1{max-width:1200px;margin:0 auto;}
.page-margin-2{max-width:1300px;margin:0 auto;}

.btn.full{display:block;width:100%;max-width:100%;text-align: center;}

.inline{display:inline !important;}
.inline-block{display:inline-block !important;}

.v-align-center{vertical-align:middle;}
.v-align-top{vertical-align:top;}
.v-center{position:absolute;top:50%;transform:translateY(-50%);}
.h-center{position:absolute;left:50%;transform:translateX(-50%);}
.vh-center{position:absolute !important;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);}
.m-center{margin-left:auto;margin-right:auto;}

.caption{color:#333;}
.subtitle-small{margin:10px 0;font-size:20px;}
.jumbo-caption-small{font-size:30px;}
.jumbo-caption-medium{font-size:50px;}
.jumbo-caption-large{font-size:70px;line-height:70px;}

.nm-top{margin-top:0 !important;}
.nm-bottom{margin-bottom:0 !important;}
.nm-all{margin:0;}

.base-padding{padding:20px;}
.base-padding-large{padding:40px;}

.clr-red-1{color:red;}
.clr-green-1{color:#090;}
.clr-white{color:#fff;}

.shadow-soft-1
{
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.modal{position:fixed;z-index:10;}
.modal-center{position:fixed;top:50%;left:50%;transform:translateX(-50%) translateY(-80%);}
.modal-1{display:none;min-width:600px;text-align:center;padding:80px 20px;margin:0 auto;background:rgba(0,150,0,0.9);color:white;font-size:22px;}

.loader{position:relative;}
.loader-small{position:relative;width:30px;height:30px;padding:5px;}
.loader-medium{position:relative;width:50px;height:50px;margin:20px auto;}
.loader-large{position:relative;width:80px;height:80px;margin:20px auto;}
.loader-1{background:url(images/loaders/loader-dots-green.gif);background-size:100% 100%;}
.loader-round-green{background:url(images/loaders/loader-round-green.gif);background-size:100% 100%;}
.loader-hidden{display:none;}

.inputf-style2{font-family: 'Lato', sans-serif !important;width:70%;max-width:100%;min-width:200px;padding:20px;font-size:18px;border:unset;outline:none;border-radius:50px;
border:2px solid #080;margin:15px auto;transition:all 0.3s;color:#888;font-weight:bold;}
.inputf-style2:hover{border:2px solid #1aac23;}

.btn-style-1{color:white;background:#090;padding:15px;border:0;transition:all 0.3s;border-radius:5px;display:inline-block;}
.btn-style-1:hover{background:#0c5e11;}

.btn-style-2{transition:all 0.4s;padding:13px 5px 10px 5px;margin:10px 20px 10px 20px;font-size:16px;background:#080;border:unset;border-bottom:5px solid transparent;min-width:150px;color:white;border-radius:5px;outline:none;font-family:'Titillium Web', sans-serif;}
.btn-style-2:hover{background:#1aac23;}

.btn-style-3{display:inline-block;text-align:center;min-width:110px;font-family: 'Spartan', sans-serif;color:white;text-transform:uppercase;padding:23px 15px 20px 15px;border:none;
outline:none;background:#090;transition:all 0.3s;font-size:12px;}
.btn-style-3:hover{background:#0c5e11;}

.btn-style-4{display:inline-block;text-align:center;min-width:110px;font-family: 'Spartan', sans-serif;color:white;text-transform:uppercase;padding:23px 15px 20px 15px;border:none;
outline:none;background:#fff;transition:all 0.3s;font-size:14px;color:#000;font-weight:bold;border-radius:5px;}
.btn-style-4:hover{background:#0c5e11;}

.font-monteserrat{font-family:'Montserrat', sans-serif;}
.font-spartan{font-family:'Spartan', sans-serif;}
p.font-spartan{line-height:180%;}
.font-wt-normal{font-weight:normal;}
.font-lh-normal{line-height:150%;}

/* TOGGLE SWITCH */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background:#090;
}

/* Rounded sliders */
.toggle-switch .slider.round {
  border-radius: 34px;
}

.toggle-switch .slider.round:before {
  border-radius: 50%;
}



/* form table layout style 1 */

.form-table-s1 {font-family: arial, sans-serif;border-collapse: collapse;width: 100%;table-layout:fixed;}
.form-table-s1 td, th {text-align: left;padding: 10px;color:white;font-size:18px;font-family: 'Lato', sans-serif;letter-spacing:1px;}
.form-table-s1 td.label{vertical-align:top;width:200px;}
.form-table-s1 input, textarea{outline:none;border:none;padding:10px;background:rgba(0,0,0,0.2);font-size:18px;border-radius:10px;color:white;
font-family:'Titillium Web', sans-serif;min-width:400px;}

/* end form table layout style 1*/

/* 2 column Data-items with image UI {SET A} */

.ui-2col-set-a h1{color:#0c5e11;text-transform:uppercase;font-size:60px;}
.ui-2col-set-a .content{max-width:1200px;margin:0 auto;max-height:570px;overflow-y:auto;padding:20px 0px 30px 0px;margin-top:50px;margin-bottom:50px;background:rgba(255,255,255,0.3);border-radius:20px;}
.ui-2col-set-a .data-item{min-width:500px;width:49%;padding:20px;display:inline-block;}
.ui-2col-set-a .data-item .inner{background:#fff;min-height:160px;max-height:160px;border-radius:10px;text-align:left;}
.ui-2col-set-a .data-item .featured-image{max-width:160px;height:auto;font-size:0;display:inline-block;margin-bottom:-7px;border-top-left-radius:10px;border-bottom-left-radius:10px;}
.ui-2col-set-a .data-item .data-info{padding:20px 10px;display:inline-block;vertical-align:top;}
.ui-2col-set-a .data-item .data-info .data-name{font-weight:bold;font-size:20px;color:#555;display:block;}
.ui-2col-set-a .data-item .data-info .data-description{display:block;margin:5px 0;font-family:'Titillium Web', sans-serif;}

/* END*/

/* 2 column Data-items with image UI  {SET B} */
.ui-2col-set-b .title{font-family:Verdana, Geneva, sans-serif;color:#0c5e11;font-size:52px;margin-bottom:60px;}
.ui-2col-set-b .content{max-width:1000px;max-height:800px;overflow-y:auto;padding:20px 0px 20px 0px;margin-top:0px;margin-bottom:50px;background:#fff;border-radius:10px;color:#666;}
.ui-2col-set-b .data-item{min-width:300px;max-width:340px;width:340px;padding:20px;display:inline-block;}
.ui-2col-set-b .data-item .inner{background:#fff;min-height:160px;border-radius:10px;text-align:left;}
.ui-2col-set-b .data-item .featured-image{max-width:100%;height:auto;font-size:0;display:inline-block;margin-bottom:-7px;border-top-left-radius:10px;border-top-right-radius:10px;}
.ui-2col-set-b .data-item .data-info{padding:20px;display:inline-block;vertical-align:top;height:150px;}
.ui-2col-set-b .data-item .data-info .data-name{font-weight:bold;font-size:20px;color:#555;display:block;}
.ui-2col-set-b .data-item .data-info .data-description{display:block;margin:5px 0;font-family:'Titillium Web', sans-serif;}
/* END */



/* 1 coluumn Data-items no image UI {SET A}*/
.ui-1col-set-a .title{font-family:Verdana, Geneva, sans-serif;color:#0c5e11;font-size:52px;margin-bottom:60px;}
.ui-1col-set-a .content{max-width:100%;min-width:300px;margin:0 auto;overflow-y:hidden;padding:0px 0px 0px 0px;margin-top:0px;margin-bottom:20px;background:#fff;border-radius:10px;color:#666;}
.ui-1col-set-a .data-item{padding:20px;}
.ui-1col-set-a .data-item:nth-child(odd){background:rgba(0,110,0,0.8);}
.ui-1col-set-a .data-item:nth-child(odd):hover{background:rgba(0,110,0,0.6);}
.ui-1col-set-a .data-item:nth-child(even){background:rgba(0,130,0,0.8);}
.ui-1col-set-a .data-item:nth-child(even):hover{background:rgba(0,130,0,0.6);}
.ui-1col-set-a .poker-winner-name{font-weight:bold;font-size:20px;color:#fff;cursor:default;}
/* END */



/* 2 coluumn Data-items with image UI {SET B}*/
.ui-1col-set-b .title{color:#0c5e11;font-size:64px;margin-bottom:60px;}
.ui-1col-set-b .content{max-width:1000px;min-width:300px;margin:0 auto;overflow-y:hidden;margin-top:0px;margin-bottom:20px;background:rgba(255,255,255,0.4);border-radius:10px;color:#666;padding:40px;}
.ui-1col-set-b .data-item{border-radius:10px;overflow:hidden;padding:0px;background:#fff;text-align:left;}
.ui-1col-set-b .data-item:not(:last-of-type){margin-bottom:40px;}
.ui-1col-set-b .data-item .inner{padding:0px;background:none;}
.ui-1col-set-b .data-item .featured-image{display:inline-block;vertical-align:top;width:30%;min-width:180px;}
.ui-1col-set-b .data-item .data-info{display:inline-block;vertical-align:top;width:60%;padding:40px 20px;text-align:left;}
.ui-1col-set-b .data-item .data-name{font-weight:bold;font-size:18px;}
/* END */



/* Column Pallettes */
.col-pallette-a{padding:20px 40px;background:#fff;color:#666;border-radius:10px;}
/* END */


@media all and (max-width:600px)
{
	.ui-1col-set-b .data-item{margin-bottom:20px;}
	.ui-1col-set-b .content{padding:20px;}
	.ui-1col-set-b .data-item .featured-image{display:inline-block;vertical-align:top;width:100%;min-width:180px;}
	.ui-1col-set-b .data-item .data-info{display:inline-block;vertical-align:top;width:100%;padding:40px 20px;text-align:left;}
}

@media all and (max-width:800px)
{
	h1{font-size:40px;}
	h2{font-size:34px;}
	h3{font-size:28px;}
	h4{font-size:24px;}
	h5{font-size:20px;}
	h6{font-size:18px;}
	
	.jumbo-caption-small{font-size:24px;}
	.jumbo-caption-medium{font-size:36px;}
	.jumbo-caption-large{font-size:48px;line-height:48px;}
}